{{!-- res.render('blogPage', { myblog : myblog}); --}}
{{!-- {{#each myblog}}
    <div class="container text-center mt-5">
        <h2>{{this.title}}</h2>  
        <h4>{{this.content}}</h4>  
        <p>{{this.slug}}</p>  
    </div>
  {{/each}} --}}



  <div class="container text-center mt-5">
    <h2>{{title}}</h2>
    <h4>{{content}}</h4>
    <p>{{slug}}</p>
  </div>